*{
    padding: 0;
    margin: 0;
}
/*---------------------------mobile---------------------------------*/
@media all and (max-width: 767px){
}

/*---------------------------tab---------------------------------*/
@media all and (min-width: 767.1px) and (max-width: 1024px){
}

/*----------------------------pc--------------------------------*/
@media all and (min-width: 1024.1px){
    header{
        width: 100%;
        position: fixed;
    }
    #fbar{
        width: 100%;
        height: 1.5em;
        background-color: white;
    }
    #logobar{
        width: 100%;
        height: 5.8em;
        background-color: #111;
    }
    #logo{
        font-size: 300%;
        text-decoration: none;
        color: floralwhite;
        margin: 0 35% 0 44%;
    }
    #monotext{
        font-size: 93%;
        color:  floralwhite;
        margin: 0 30% 0 40%;
    }
    #minibox{
        list-style: none;
        display: inline;
        margin: 0 0 0 90%;
    }
    #minibox>li{
        font-size: 79%;
        display: inline;
        border: 1px solid #222;
        border-radius: 3px;
        background-color: #eee;
        margin: 0 0 0 0;
    }
    #minibox>li>a{
        text-decoration: none;
        color: black;
    }
    #minibox>li>a:hover{
        background-color: #BBD1E8;
    }
}