*{
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 300%;
    overflow-x: hidden;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.sec{
    width: 99.9%;
/*    border: 1px solid silver;*/
}

/*--------------------sec1----------------------*/

.fwin{
    display: inline-block;
}
#cuca{
    width: 40%;
    height: 60em;
    background-color: black;
}
#belief{
    vertical-align: top;
}
#headline{
    margin-top: 5em;
    margin-left: 5%;
}

/*--------------------sec2----------------------*/

#imgcal{
    width: 500%;
}
.cals{
    display: inline;
}
.cals>img{
    margin-left: 2.95%;
    margin-right: 2.95%;
    width: 14%;
    height: 600px;
}
#menu{
    width: 70%;
    height: 3.5em;
    margin: 9.5em 14.6% 0 15.3%;
}
#topmenu{
    height: 3.5em;
}
#topmenu>li{
    width: 19%;
    height: 2.4em;
    padding-top: 1em;
    display: inline-block;
/*    border: 1px solid silver;*/
    text-align: center;
}
#topmenu>li>a{
    text-decoration: none;
    color: black;
}
.smallmenu{
    position: absolute;
}
.smallmenu>li{
    visibility: hidden;
    list-style: none;
}
#dotm{
    margin-left: 46.5%;
    margin-right: 45%;
    margin-top: 1.5em;
}
.dots{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: silver;
    display: inline-block;
    margin-left: 3%;
}
#remote{
    width: 6em;
    height: 8em;
    margin-top: 45em;
    margin-left: 89%;
    z-index: -1;
    position: fixed;
    border: 1px solid silver;
}
/*---------------------------mobile---------------------------------*/
@media all and (max-width: 767px){
}

/*---------------------------tab---------------------------------*/
@media all and (min-width: 767.1px) and (max-width: 1024px){
}

/*----------------------------pc--------------------------------*/
@media all and (min-width: 1024.1px){
}